/.vs
/.vscode
*.suo
*.opensdf
*.opendb
*.sdf
*.VC.db
*.opendb
/TestRunner/__pycache__/*
/TestRunner/testrunner.log
/TestRunner/.idea/*.*
__pycache__
/build
/Packages
/InstallLog*.txt
/InstallReport.txt
/InstallState.xml
/ReleaseNotes